ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;
}

ul li button {
    background: grey;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    height: 2em;
    width: 5em;
}

ul li button:hover {
    background: green;
}

ul li button.active {
    background: green;
}